:root {
    --background2: #27374D;
    --text2 : #DDE6ED;
    --icons2 : #DDE6ED;
    --accent2 : #9DB2BF;
    --background: #0c0f17;
    --selection: #262A56;
    --text: #F0E9D2;
    --texthov: #fff;
    --accent: #678983;
    --icons: #E6DDC4;
    --ac: #;
}